<!DOCTYPE html>
<html>
  <head>
    <title>AbbyFashion</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="#" class="logo">Home</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </nav>

    <%= yield %>
    <%= image_tag("welcome.jpg", class: "img-responsive") %>
  
  <footer>
    &copy; 2018 AbbyFashion
  </footer>

  </body>
</html>